CompositeObservation.members = members
Observation.algorithm.name = algorithm.name
Observation.environment.ambientTemp = TEMPERAT
Observation.environment.elevation = TELALT
Observation.environment.humidity  = RELHUMID
Observation.environment.photometric = environment.photometric
Observation.environment.seeing = environment.seeing
Observation.environment.tau = environment.tau 
Observation.environment.wavelengthTau = environment.wavelengthTau
Observation.instrument.keywords = INSTMODE
Observation.instrument.name = INSTRUME
Observation.intent = obs.intent
Observation.metaRelease = DATE
Observation.proposal.id = RUNID
Observation.proposal.keywords = proposal.keywords
Observation.proposal.pi = PI_NAME
Observation.proposal.project = proposal.project
Observation.proposal.title = proposal.title
Observation.sequenceNumber = sequenceNumber
Observation.target.keywords = target.keywords
Observation.target.name = OBJECT
Observation.target.redshift = target.redshift
Observation.target.standard = target.standard
Observation.target.type = target.type 
Observation.telescope.geoLocationX = telescope.geoLocationX
Observation.telescope.geoLocationY = telescope.geoLocationY
Observation.telescope.geoLocationZ = telescope.geoLocationZ
Observation.telescope.keywords = telescope.keywords
Observation.telescope.name = telescope.name
Observation.type = observation.type
Plane.calibrationLevel = plane.calibrationLevel
Plane.dataProductType = plane.dataProductType
Plane.dataRelease = plane.dataRelease
Plane.metaRelease = DATE
Plane.metrics.background = BKGNDJY
Plane.metrics.backgroundStddev = SIGBKJY
Plane.metrics.fluxDensityLimit = FLUXSNR5
Plane.metrics.magLimit = MAGSNR5
Plane.metrics.sourceNumberDensity = NSEXCTS
Plane.provenance.inputs = provenance.inputs
Plane.provenance.keywords = provenance.keywords
Plane.provenance.lastExecuted = provenance.lastExecuted
Plane.provenance.name = provenance.name 
Plane.provenance.producer = provenance.producer 
Plane.provenance.project = provenance.project 
Plane.provenance.reference = provenance.reference 
Plane.provenance.runID = CRUNID
Plane.provenance.version = provenance.version
Artifact.alternative = artifact.alternative
Artifact.contentLength = artifact.contentLength
Artifact.contentType = artifact.contentType
Artifact.productType = artifact.productType
Part.name = part.name
Part.productType = part.productType
Chunk.naxis = ZNAXIS,NAXIS
Chunk.energy.axis.axis.ctype = CTYPE{energyAxis}
Chunk.energy.axis.axis.cunit = CUNIT{energyAxis}
Chunk.energy.axis.error.rnder = CRDER{energyAxis}
Chunk.energy.axis.error.syser = CSYER{energyAxis}
Chunk.energy.axis.function.delta = CDELT{energyAxis}
Chunk.energy.axis.function.naxis = NAXIS{energyAxis}
Chunk.energy.axis.function.refCoord.pix = CRPIX{energyAxis}
Chunk.energy.axis.function.refCoord.val = CRVAL{energyAxis}
Chunk.energy.bandpassName = filtername
Chunk.energy.resolvingPower = resolvingPower
Chunk.energy.restfrq = RESTFRQ
Chunk.energy.restwav = RESTWAV
Chunk.energy.specsys = SPECSYS
Chunk.energy.ssysobs = SSYSOBS
Chunk.energy.ssyssrc = SSYSSRC
Chunk.energyAxis = getEnergyAxis()
Chunk.position.axis.axis1.ctype = CTYPE{positionAxis1}
Chunk.position.axis.axis1.cunit = CUNIT{positionAxis1}
Chunk.position.axis.axis2.ctype = CTYPE{positionAxis2}
Chunk.position.axis.axis2.cunit = CUNIT{positionAxis2}
Chunk.position.axis.error1.rnder = CRDER{positionAxis1}
Chunk.position.axis.error1.syser = CSYER{positionAxis1}
Chunk.position.axis.error2.rnder = CRDER{positionAxis2}
Chunk.position.axis.error2.syser = CSYER{positionAxis2}
Chunk.position.axis.function.cd11 = cd11
Chunk.position.axis.function.cd12 = cd12
Chunk.position.axis.function.cd21 = cd21
Chunk.position.axis.function.cd22 = cd22
Chunk.position.axis.function.refCoord.coord1.pix = CRPIX{positionAxis1}
Chunk.position.axis.function.refCoord.coord1.val = RA_DEG
Chunk.position.axis.function.refCoord.coord2.pix = CRPIX{positionAxis2}
Chunk.position.axis.function.refCoord.coord2.val = DEC_DEG
Chunk.position.coordsys = RADECSYS,RADESYS
Chunk.position.equinox = EQUINOX,EPOCH
Chunk.position.resolution = position.resolution
Chunk.position.axis.function.dimension.naxis1 = naxis3
Chunk.position.axis.function.dimension.naxis2 = naxis4
Chunk.positionAxis1 = getPositionAxis()
Chunk.positionAxis2 = getPositionAxis()
Chunk.productType = chunk.productType
Chunk.time.axis.axis.ctype = CTYPE{timeAxis}
Chunk.time.axis.axis.cunit = CUNIT{timeAxis}
Chunk.time.axis.error.rnder = CRDER{timeAxis}
Chunk.time.axis.error.syser = CSYER{timeAxis}
Chunk.time.axis.function.delta = CDELT{timeAxis}
Chunk.time.axis.function.naxis = NAXIS{timeAxis}
Chunk.time.axis.function.refCoord.pix = CRPIX{timeAxis}
Chunk.time.axis.function.refCoord.val = CRVAL{timeAxis}
Chunk.time.exposure = time.exposure
Chunk.time.resolution = time.resolution
Chunk.timeAxis = getTimeAxis()
Chunk.polarization.axis.axis.ctype = CTYPE{polarizationAxis}
Chunk.polarization.axis.axis.cunit = CUNIT{polarizationAxis}
Chunk.polarization.axis.bounds.samples = polarization.samples
Chunk.polarization.axis.error.rnder = polarization.error.reder
Chunk.polarization.axis.error.syser = polarization.error.syser
Chunk.polarization.axis.function.delta = CDELT{polarizationAxis}
Chunk.polarization.axis.function.naxis = NAXIS{polarizationAxis}
Chunk.polarization.axis.function.refCoord.pix = CRPIX{polarizationAxis}
Chunk.polarization.axis.function.refCoord.val = CRVAL{polarizationAxis}
Chunk.polarization.axis.range.end.pix = polarization.range.end.pix
Chunk.polarization.axis.range.end.val = polarization.range.end.val
Chunk.polarization.axis.range.start.pix = polarization.range.start.pix
Chunk.polarization.axis.range.start.val = polarization.range.start.val
Chunk.polarizationAxis = getPolarizationAxis()
